# Entornos y Configuración Local
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Datos y Bases de Datos
postgres_data/
*.db
*.sqlite
*.csv
*.xlsx
*.json
!n8n/OH_YEAH_WORKFLOW.json   # Permitir subir el workflow de n8n dentro de su carpeta
!package.json

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker logs
*.log
docker-compose.override.yml
